@import "common/styles/templates";

.container {
  @extend %background;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid black;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
  border-collapse: collapse;
  border-radius: 50%;
}
