%background {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 85%
  );
}

%colName {
  border-right: 5px solid black;
  min-width: 430px;
  padding: 10px;
}

%colCapital {
  border-right: 5px solid black;
  min-width: 270px;
}

%colPopulation {
  border-right: 5px solid black;
  min-width: 150px;
}
