.tr {
  border-bottom: 5px solid black;
  cursor: pointer;
}

.colName {
  padding: 10px;
  border-right: 5px solid black;
  min-width: 432px;
}

.colCapital {
  border-right: 5px solid black;
  min-width: 170px;
}

.colPopulation {
  border-right: 5px solid black;
  min-width: 101px;
}

.colCallingCodes {
  min-width: 112px;
}
