@use "common/styles/templates" as *;

.tr {
  border-bottom: 5px solid black;
  cursor: pointer;
}

.colName {
  @extend %colName !optional;
}

.colCapital {
  @extend %colCapital !optional;
}

.colPopulation {
  @extend %colPopulation !optional;
}

.colCallingCodes {
  @extend %colCallingCodes !optional;
}
